#div1{ height : 100px;
    width: 100px ;
    background-color : red;
    display: inherit;

}

#div2{ height : 100px;
    width: 100px ;
    background-color : black;
    display : none;
}

#div3{ height : 100px;
    width: 100px ;
    background-color : pink;
    display : none;
}