#ConteneurRectBleu {
    background-color: blue;
    width: 700px;height: 600px;
    display :flex; 
    flex-direction : row;
    justify-content : space-around;
    align-items : center;

}

#RectRose {
    background-color: fuchsia;
    width: 300px;height: 500px;
    display : flex;
    flex-direction : column;
    justify-content: space-around;
    align-items: center;
 
}

#RectRouge {
    background-color: red;
    width: 300px;height: 500px;
    display : flex;
    flex-direction : column;
    justify-content: space-around;
    align-items: center;
 
}

#RectJaune1 {
    background-color: yellow;
    width: 200px;height: 80px;
}

#RectJaune2 {
    background-color: yellow;
    width: 200px;height: 80px;
}

#RectJaune3 {
    background-color: yellow;
    width: 200px;height: 80px;
}

#RectJaune4 {
    background-color: yellow;
    width: 200px;height: 80px;
}


#RectVert1 {
    background-color: green;
    width: 230px;height: 230px;
}

#RectVert2 {
    background-color: green;
    width: 230px;height: 230px;
}