#BarreNoire {
    background-color: black;
}

#LaListe {
    color : white;
    list-style: none;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 15px;
}

.Titres {
    font-size: 15px;
}

.textes {
    font-size: 8px;
}
